# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/

# Dev files
.vscode/
.envrc

# files note used for now
testdata/
scripts/
Makefile

# terraform files
.terraform/
.terraform.lock.hcl